.editors {
	position: relative;
	padding: 10px 20px 15px;
	border: 1px solid #D2D2D2;
	&__wrap {
		position: relative;
		@include display-flex();
		flex-wrap: wrap;
		margin: 0 -5px;
	}
	&__item {
		width: 33.333333%;
		padding: 0 5px;
	}
	&__img {
		position: relative;
		height: calc(191px / (5 / 3));
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		padding: 5px 0 10px;
	}
	&__subtitle {
		display: inline-block;
		padding: 0 0 3px;
		text-transform: uppercase;
		border-bottom: 1px solid $color_theme;
		letter-spacing: 2.4px;
		@include font-pack(false, 10px, false, false, $color_theme);
	}
	&__title {
		margin: 10px 0 5px;
		@include font-pack(false, 16px, 700, false, false);
		@include title_overflow(auto, 60px);
	}
	&__date {
		letter-spacing: 1.2px;
		@include font-pack(false, 11px, false, false, #000);
	}
	&__link {
		display: block;
	}
	.arrow {
		top: 45px;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
	}
}
