.latest {
	position: relative;
	&__item {
		position: relative;
		@include display-flex();
		margin: 30px 0;
		&:first-child {
			margin: 0 0 30px;
		}
	}
	&__img {
		width: 220px;
		height: calc(220px / (5 / 3));
		position: relative;
		overflow: hidden;
	}
	&__right {
		width: calc(100% - 220px);
		padding: 0 0 0 15px;
	}
	&__subtitle {
		display: inline-block;
		padding: 0 0 3px;
		text-transform: uppercase;
		border-bottom: 1px solid $color_theme;
		letter-spacing: 2.4px;
		@include font-pack(false, 12px, false, false, $color_theme);
		&:hover {
			border-bottom: 1px solid #000;
		}
	}
	&__title {
		margin: 6px 0;
		@include font-pack(false, 20px, 700, false, false);
		@include title_overflow(auto, 81px);
	}
	&__date {
		letter-spacing: 1.2px;
		@include font-pack(false, 12px, false, false, $color_grey);
	}
	&__author {
		padding: 0 0 5px;
		letter-spacing: 1px;
		@include font-pack(false, 16px, 700, false, $color_theme);
		&__wrap {
			position: relative;
			@include display-flex();
			align-items: center;
			padding: 0 0 10px;
		    //justify-content: center;
		}
		&__img {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			overflow: hidden;
			margin-right: 10px;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
		}
	}
	&__link {
		display: block;
	}
	&__more {
		margin: -10px 0 0;
		padding: 0 0 20px;
		text-align: center;
	}
	&__button {
		display: inline-block;
		padding: 5px 0;
		text-transform: uppercase;
		font-style: italic;
		letter-spacing: 2px;
		border-bottom: 1px solid $color_theme;
		@include font-pack(false, 18px, 700, false, $color_theme);
		&:hover {
			color: #000;
		}
	}
	
	// read
	&--article {
		.latest__item {
			margin: 20px 0;
		}
		.latest__right {
			padding-left: 10px;
			width: calc(100% - 100px);
		}
		.latest__img {
			width: 100px;
			height: 100px;
		}
		.latest__title {
			margin: 0 0 7px;
			font-size: 18px;
			max-height: 71px;
		}
		.latest__date {
			color: $color_theme;
		}
	}
	
	// video 
	&--video {
		.latest__img {
			img {
				position: absolute;
				width: 100%;
				//max-width: unset;
				height: auto;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
	}
}
