.standing {
	position: relative;
	&__wp {
		position: relative;
	}
	&__wrap {
		position: relative;
	}
	&__header {
		position: relative;
	}
	&__tab {
		position: relative;
		display: block;
		z-index: 2;
		li {
			display: inline-block;
			margin: 0 5px 0 0;
		}
		a {
			border-radius: 5px 5px 0 0;
			display: block;
			padding: 17px 10px;
			border: 1px solid #c8c8c8;
			background: #c8c8c8;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
			width: 195px;
			@include font-pack($dinpro_bold, 16px, false, 1, #fff);
		}
		a:hover {
			background: darken(#c8c8c8,8%);
			border: 1px solid darken(#c8c8c8,8%);
			color: #fff;
		}
		a.active {
			background: #fff;
			color: #939393;
			border-top: 1px solid #c8c8c8;
			border-bottom: 1px solid transparent;
			border-left: 1px solid #c8c8c8;
			border-right: 1px solid #c8c8c8;
		}
	}
	&__content {
		position: relative;
		top: -1px;
		z-index: 1;
		padding: 30px 25px;
		background: #fff;
		border: 1px solid #c8c8c8;
		border-radius: 0 5px 5px 5px;
	}
	&__wp.league {
		.standing__tab {
			a {
				background: #f0f0f0;
			}
			a.dota {
				color: $color_theme_dt;
			}
			a.mlbb {
				color: $color_theme_ml;
			}
			a.active {
				background: #fff;
			}
		}
	}
}

.table {
	&__content {
		padding: 0 0 30px;
		table {
			@include font-pack($dinpro_medium, 14px, false, 1, false);
			width: 100%;
			border-collapse: collapse;
			border-spacing: 5px;
		}
		tr {
			background: #e9e9e9;
			&:nth-child(odd) {
				background: #ccc;
			}
		}
		th {
			text-align: left;
			color: #fff;
			background: $color_theme;
			padding: 10px 6px;
			border-bottom: 3px solid #fff;
			span {
				cursor: help;
			}
		}
		td {
			padding: 10px 6px;
			border-bottom: 3px solid #fff;
		}
	}
	&__title {
		padding: 0 0 15px;
		text-transform: uppercase;
		@include font-pack($dinpro_black, 16px, false, 1, false);
	}
}
