.paging {
	position: relative;
	&__wrap {
		position: relative;
		padding: 0px 0 40px;
	}
	&__teaser {
		padding: 5px 0;
		@include font-pack(false, 16px, 600, false, false);
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 5px;
	}
	&__link {
		padding: 5px 9px;
		display: block;
		line-height: 1;
		border-radius: 20px;
		// border-radius: 5px;
		@include font-pack($robotocondensed, 18px, 400, false, #4a4a4a);
		&--prev,
		&--next {
			@include font-pack(false, 16px, 300, false, #666);
		}
		&--show {
			text-align: center;
			padding: 6px 10px;
			margin: 1px 4px;
			background: lighten($color_kanya2, 10%);
			@include font-pack(false, 14px, 400, false, #fff);
		}
		&--active,
		&:hover {
			background: $color_kanya5;
			color: #fff;
		}
	}
	&--article {
		margin-top: 20px;
		padding: 7px 10px 4px;
		background: #fafafa;
	}
}