.title {
	position: relative;
	padding: 50px 0;
	text-transform: uppercase;
	letter-spacing: 25px;
	text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
	@include font-pack($dinpro_black, 41px, false, 1, #fff);
	border-top: 2px solid #fff;
	border-bottom: 1px solid #fff;
    width: $screen-lg-desktop;
    @include min-responsive($screen-lg-desktop) {
        width: 100%;
    }
	span {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	&__main {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 10px 0 20px;
		@include font-pack($dinpro_black, 30px, false, 1, #747474);
	}
	&__page {
		padding: 20px 0;
		letter-spacing: 8px;
		text-transform: uppercase;
		border-bottom: 1px solid #666;
		margin: 0 0 30px;
		@include font-pack($dinpro_black, 30px, false, 1, #000);
	}
}

.subtitle {
	position: relative;
	padding: 20px 0 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	@include font-pack($dinpro_light, 30px, false, 1, #000);
	&--bg {
		padding: 0 0 30px;
		span {
			display: inline-block;
			padding: 8px 10px;
			background: rgba(57, 15, 20, 0.8);
			border-radius: 10px;
			color: #fff;
		}
	}
}
