.topic {
	position: relative;
	padding: 40px 0 80px;
	&__wrap {
		position: relative;
		@include display-flex();
		padding: 0;
		margin: 0;
		@include min-responsive($screen-lg-desktop) {
			margin: 0 -20px;
		}
	}
	&__item {
		position: relative;
		padding: 0 20px;
		width: 50%;
	}
	&__img {
		position: relative;
		img {
			width: 100%;
		}
	}
	&__box {
		position: relative;
		background: rgba(0,0,0,.5);
		padding: 0 20px 20px;
	}
	&__title {
		margin: 15px 0;
		@include font-pack(false, 20px, 700, false, #fff);
		@include title_overflow(55px, 55px);
	}
	&__date {
		letter-spacing: 1.2px;
		@include font-pack(false, 12px, false, false, #fff);
	}
	&__link {
		display: block;
		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}
}
