.footer {
	margin-top: 40px;
	padding: 40px 0 110px;
	background: #000;
	@include font-pack(false, false, false, false, #fff);
    width: $screen-lg-desktop;
    @include min-responsive($screen-lg-desktop) {
        width: 100%;
    }
	p {
		margin: 0;
	}
	&__logo {
		padding: 0 0 30px;
		//margin-left: -9px;
		position: relative;
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			top: 36%;
			left: 0;
			z-index: 1;
			border-top: 1px solid #fff;
		}
		a {
			position: relative;
			z-index: 2;
			display: inline-block;
			padding: 0 10px 0 0;
			background: #000;
		}
		img {
			height: 55px;
		}
	}
	&__link {
		padding: 5px 0;
		display: block;
		@include font-pack(false, 14px, false, false, false);
		&:hover {
			color: $color_theme;
		}
	}
	&__item {
		position: relative;
		padding: 0;
		display: block;
	}
	&__menu {
		position: relative;
		padding: 0;
		&.inline {
			.footer__item {
				position: relative;
				display: inline-block;
				&:after {
					content: '|';
					position: absolute;
					right: -5px;
					bottom: 1px;
				}
				&:last-child {
					&:after {
						content: '';
					}
				}
			}
			.footer__link {
				padding: 0 5px;
			}
		}
	}
	&__network {
		position: relative;
		@include display-flex();
		align-items: center;
		justify-content: flex-start;
		padding: 30px 0 10px;
		font-size: 14px;
		.img {
			padding: 0 10px;
			img {
				height: 25px;
			}
		}
	}
	&__copyright {
		text-align: right;
		padding: 0;
		margin: 0;
	}
	&__contact {
		@include font-pack(false, false, false, 1.5, false);
	}
	&__bottom {
		letter-spacing: .6px;
		padding-top: 40px;
	}
}
