.title6 {
	position: relative;
	padding: 0 0 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-style: italic;
	text-align: left;
	@include font-pack(false, 18px, 700, false, $color_theme);
	span {
		display: inline-block;
		background: #fff;
		padding: 0;
	}
}

