<header class="header">
	<div class="header__top">
		<div class="logo">
			<a href="index.html">
				{{#eq network compare=true}}
				<img src="./asset/images/logo_pikiran_rakyat_network_pangandaran.png" alt="Pikiran Rakyat Pangandaran">
				{{else}}
				<img src="./asset/images/logo_pikiran_rakyat.png" alt="Pikiran Rakyat">
				{{/eq}}
			</a>
		</div>
		<div class="menu menu--left clearfix">
			<div class="menu__item">
				<a href="#sidr" class="menu__link icon-bar" id="js--menu">
					<i></i>
				</a>
			</div>
		</div>
		<div class="menu menu--right clearfix">
			<div class="menu__item">
				<a href="#" class="menu__link" id="js--search">
					<span class="icon icon-search"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="row container clearfix">
			<form action="search.html" class="search__bar">
				<input type="text" placeholder="Cari" class="search__input">
				<input type="submit" name="submit" class="search__submit">
				<span class="icon icon-search"></span>
			</form>
		</div>
		<div class="search__overlay"></div>
	</div>
</header>
