<header class="header">
	<div class="header__wrap clearfix">
		<!-- logo -->
		<div class="logo">
			<a href="index.html" class="logo__link">
				<img src="./asset/images/logo_iel_university.png" alt="">
			</a>
		</div>
		<div class="menu menu--left clearfix">
			<div class="menu__item">
				<a href="#sidr" class="menu__link icon-bar" id="js-menu">
					<i></i>
				</a>
			</div>
		</div>
	</div>
</header>
