<nav class="nav -hide" id="js--nav">
	<div class="nav__scroll">
		<ul class="nav__wrap">
			{{!<li><a href="index.html"><span class="icon icon-home"></span> Home</a></li>}}
			{{#each menu}}
			<li><a href="{{link}}">{{title}}</a></li>
			{{/each}}
			<li><a href="kanal.html">Hidup Gaya</a></li>
			<li><a href="kanal.html">Otokir</a></li>
			<li><a href="kanal.html">Belia</a></li>
			<li><a href="opini.html">Kolom</a></li>
			<li><a href="video.html">PR TV</a></li>
			<li><a href="images.html">PT Images</a></li>
			<li><a href="surat-pembaca.html">Surat Pembaca</a></li>
		</ul>
		<div class="network__member">
			<span>Member of</span>
			<div class="img">
				<img src="./asset/images/logo_pikiran_rakyat_white_network.png" alt="Pikiran Rakyat Network">
			</div>			
		</div>
		<ul class="network__menu">
			<li><a href="index-network.html">Bandung</a></li>
			<li><a href="index-network.html">Ciamis</a></li>
			<li><a href="index-network.html">Bogor</a></li>
			<li><a href="index-network.html">Tasikmalaya</a></li>
			<li><a href="index-network.html">Cirebon</a></li>
			<li><a href="index-network.html">Karawang</a></li>
			<li><a href="index-network.html">Sukabumi</a></li>
			<li><a href="index-network.html">Kuningan</a></li>
		</ul>
	</div>
	<div class="nav__overlay"></div>
</nav>
