{{#if channel}}
<div class="opinion__header">
	<div class="opinion__img">
		<img src="{{channel.author_img}}" alt="{{channel.title}}">
	</div>
	<div class="opinion__right">
		<h4 class="opinion__author">{{channel.author}}</h4>
		<div class="opinion__author__title">{{channel.author_title}}</div>
	</div>
</div>
{{/if}}
