<header class="header">
	<div class="header__top">
		<div class="row container clearfix">
		<div class="col-offset-fluid clearfix">
			<div class="col-bs10-7">
				<ul class="network__menu">
					<li><a href="index-network.html">Bandung</a></li>
					<li><a href="index-network.html">Ciamis</a></li>
					<li><a href="index-network.html">Bogor</a></li>
					<li><a href="index-network.html">Tasikmalaya</a></li>
					<li><a href="index-network.html">Cirebon</a></li>
					<li><a href="index-network.html">Karawang</a></li>
					<li><a href="index-network.html">Sukabumi</a></li>
					<li><a href="index-network.html">Kuningan</a></li>
				</ul>
			</div>
			<div class="col-bs10-3">
				<div class="social social--header clearfix">
					<div class="social__item">
						<a href="#" class="social__link social__link--facebook">
							<span class="icon icon-facebook"></span>
						</a>
					</div>
					<div class="social__item">
						<a href="#" class="social__link social__link--twitter">
							<span class="icon icon-twitter"></span>
						</a>
					</div>
					<div class="social__item">
						<a href="#" class="social__link social__link--instagram">
							<span class="icon icon-instagram"></span>
						</a>
					</div>
					<div class="social__item">
						<a href="#" class="social__link social__link--rss">
							<span class="icon icon-rss"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="header__middle">
		<div class="row container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs12-8">
					<div class="logo">
						<a href="index.html">
							<img src="./asset/images/logo_pikiran_rakyat.png" alt="Pikiran Rakyat">
						</a>
					</div>
				</div>
				<div class="col-bs12-4">
					<form action="search.html" class="search__bar">
						<input type="text" placeholder="Cari" class="search__input">
						<input type="submit" name="submit" class="search__submit">
						<span class="icon icon-search"></span>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="row container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-10">
					<nav class="nav">
						<div class="nav__home"><a href="index.html" title="Home"><span class="icon icon-home"></span></a></div>
						<ul class="nav__wrap">
							<li><a href="kanal.html">Bandung Raya</a></li>
							<li><a href="kanal.html">Jawa Barat</a></li>
							<li><a href="kanal.html">Nasional</a></li>
							<li><a href="kanal.html">Internasional</a></li>
							<li><a href="kanal.html">Persib</a></li>
							<li><a href="kanal.html">Bola</a></li>
							<li><a href="kanal.html">Olahraga</a></li>
							<li><a href="kanal.html">Pendidikan</a></li>
							<li><a href="kanal.html">Ekonomi</a></li>
							<li><a href="kanal.html">Teknologi</a></li>
							<li><a href="kanal.html">Entertainment</a></li>
							<li><a href="kanal.html">Gaya Hidup</a></li>
						</ul>
						<div class="nav__more">
							<a href="javascript:void(0)"><span class="icon icon-caret-down"></span></a>
							<ul class="nav__wrap more">
								<li><a href="kanal.html">Otokir</a></li>
								<li><a href="kanal.html">Belia</a></li>
								<li><a href="opini.html">Kolom</a></li>
								<li><a href="video.html">PR TV</a></li>
								<li><a href="images.html">PT Images</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
