<header class="header">
	<div class="header__top">
		<div class="row container clearfix">
		<div class="col-offset-fluid clearfix">
			<div class="col-bs10-6">
				<ul class="network__menu">
					<li><a href="#">Bandung</a></li>
					<li><a href="#">Ciamis</a></li>
					<li><a href="#">Bogor</a></li>
					<li><a href="#">Tasikmalaya</a></li>
					<li><a href="#">Cirebon</a></li>
					<li><a href="#">Karawang</a></li>
					<li><a href="#">Sukabumi</a></li>
					<li><a href="#">Kuningan</a></li>
				</ul>
			</div>
			<div class="col-bs10-4">
				<div class="social social--header clearfix">
					<div class="social__item">
						<a href="#" class="social__link social__link--facebook">
							<span class="icon icon-facebook"></span>
						</a>
					</div>
					<div class="social__item">
						<a href="#" class="social__link social__link--twitter">
							<span class="icon icon-twitter"></span>
						</a>
					</div>
					<div class="social__item">
						<a href="#" class="social__link social__link--instagram">
							<span class="icon icon-instagram"></span>
						</a>
					</div>
					<div class="social__item">
						<a href="#" class="social__link social__link--rss">
							<span class="icon icon-rss"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="header__middle">
		<div class="row container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-7">
					<h1 class="logo">
						<a href="index.html">
							<img src="./asset/images/logo_pikiran_rakyat.png" alt="Pikiran Rakyat">
						</a>
					</h1>
				</div>
				<div class="col-bs10-3">
					<form action="#" class="search__bar">
						<input type="text" placeholder="Search" class="search__input">
						<input type="submit" name="submit" class="search__button">
						<span class="icon icon-search"></span>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="header__middle">
		<div class="row container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-10">
					
				</div>
			</div>
		</div>
	</div>
</header>
