<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- ads top -->
	{{> ads_top}}
	
	<!-- ads skin -->
	{{> ads_skin}}
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container cearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-7">
				
					<!-- headline -->
					{{> headline}}
					
				</div>
				<div class="col-bs10-3">
				
					<!-- ads square -->
					{{> ads_square}}
					
					<!-- ads square -->
					{{> ads_square}}
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	{{> js}}
	
</body>
</html>
