<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- ads skin -->
	{{> ads_skin}}
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container cearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs12-12">
					
					<div class="widget clearfix">
						<div class="display-table">
							<div class="display-center">
								<section class="widget__login clearfix">
									<h3 class="title2 dark"><span>Login</span></h3>
									<p>Untuk melanjutkan, silakan Login terlebih dahulu dengan salah satu akun di bawah ini</p>
									<div class="widget__login__box">
										<a href="surat-pembaca-form.html" class="button button--login button--facebook"><span class="icon icon-facebook"></span> Login with Facebook</a>
										<a href="surat-pembaca-form.html" class="button button--login button--google"><span class="icon icon-google"></span> Login with Google</a>
									</div>
								</section>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	{{> js}}
	
</body>
</html>
