<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- ads skin -->
	{{> ads_skin}}
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs12-12">
					
					<!-- ads top -->
					{{> ads_top}}
					
				</div>
				
				<div class="col-bs12-8">
				
					<!-- latest -->
					<section class="page clearfix">
						<h3 class="title"><span>Surat Pembaca</span></h3>
						{{> mail_form}}
					</section>
					
				</div>
				<div class="col-bs12-4">
				
					<!-- ads square -->
					<div class="ads mt3 clearfix">
						{{> ads_square}}
					</div>
					
					<!-- ads square -->
					<div class="ads mt3 clearfix">
						{{> ads_square}}
					</div>
					
					<!-- most -->
					<section class="most mt2 clearfix">
						<h3 class="title"><span>Terpopuler</span></h3>
						<div class="most__wrap">
							{{> most channel=Most total=10 index_start=0 index_end=10}}
						</div>
					</section>
					
					<!-- ads square -->
					<div class="ads mt3 clearfix">
						{{> ads_square}}
					</div>
					
					<!-- ads square -->
					<div class="ads mt3 clearfix">
						{{> ads_square}}
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	<!-- modals sucess -->
	<div class="modals__hide">
		<div id="modals-success" class="modals__success">
			<div class="modals__box">
				<div class="modals__lead">Terima kasih. Kami sudah menerima surat pembaca Anda.</div>
				<div class="modals__footer">
					<div class="modals__item">
						<button class="modals__button" data-type="dismiss" type="button">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- modals template -->
	<div id="modals">
		<div class="modals__content"></div>
	</div>
	
	{{> js}}
	
	<script>
	$("#kirim").submit(function(e){
		send('modals-success', false);
		return false;
	});

	// report
	var m = document.querySelector('.modals__content');
	
	function send(modalsId, id) {
		console.log(id);
		showModals(modalsId);
	}
	
	function showModals(modalsId) {
		var md = document.getElementById('modals');
		var cl = document.getElementById(modalsId);
		if(!!md) {
			if(!!cl) {
				// clear first
				var fc = md.firstElementChild;
				clearModalsContent(fc);
			
				// add body class and clone element
				document.body.classList.add('modals');
				var ox = cl.cloneNode(true);
				fc.appendChild(ox);
			} else {
				console.log('unknown modal target');
				return;
			}
		} else {
			console.log('template modals not found');
			return;
		}
	}
	
	// event handler for element inside modals must be here
	if(!!m) {
		//console.log(m);
		m.addEventListener('click', function(e) {
			// dismiss modals
			if(e.target.matches('.modals__button[data-type="dismiss"]')) {
				dismissModals();
			}
		});
	}
	
	function dismissModals() {
		var md = document.getElementById('modals');
		if(!!md) {
			document.body.classList.remove('modals');
			var fc = md.firstElementChild;
			clearModalsContent(fc);
		}
	}
	
	function clearModalsContent(el) {
		while (el.firstChild) {
			el.removeChild(el.firstChild);
		}		
	}
	
	</script>
	
</body>
</html>
