<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- ads skin -->
	{{> ads_skin}}
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs12-12">
					
					<!-- ads top -->
					{{> ads_top}}
					
					<h3 class="title4"><span>PR TV</span></h3>

					<!-- headline -->
					<section class="videos__hl mt3 clearfix">
						<div class="videos__wrap clearfix">
							{{> headline_video channel=channel.images.video total=3 index_start=14 index_end=17}}
						</div>
					</section>
					
				</div>
				
				<div class="col-bs12-8">				
					
					<!-- latest -->
					<section class="latest latest--video mt3 clearfix">
						<div class="latest__wrap">
							{{> latest_video channel=channel.images.video total=20 index_start=0 index_end=20}}
						</div>
						
						<div class="latest__more clearfix">
							<a href="#" class="latest__button">Lihat Semua</a>
						</div>
					</section>
					
				</div>
				<div class="col-bs12-4">
				
					<!-- ads square -->
					<div class="ads mt3 clearfix">
						{{> ads_square}}
					</div>
					
					<!-- ads square -->
					<div class="ads mt3 clearfix">
						{{> ads_square}}
					</div>
					
					<!-- most -->
					<section class="most mt2 clearfix">
						<h3 class="title"><span>Terpopuler</span></h3>
						<div class="most__wrap">
							{{> most channel=Most total=10 index_start=0 index_end=10}}
						</div>
					</section>
					
					<!-- network -->
					<section class="row mt2 clearfix">
						<h3 class="title5"><span>Jawa Barat Network</span></h3>
						<div class="network__sidebar js--network-sidebar">
							{{> network_sidebar channel=WP.Sorotan total=8 index_start=0 index_end=8}}
						</div>
					</section>
					
					<!-- ads square -->
					<div class="ads mt3 clearfix">
						{{> ads_square}}
					</div>
					
					<!-- ads square -->
					<div class="ads mt3 clearfix">
						{{> ads_square}}
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	{{> js}}
	
</body>
</html>
