<footer class="footer">
	<div class="footer__bar">
		<div class="footer__credit">Sponsored by:</div>
		<div class="footer__bar__wrap big">
			<div class="footer__bar__img">
				<span>
					<img src="asset/images/logo_sponsor_razer.png" alt="">
				</span>
				<div class="footer__bar__title">Official Esports Partner of IEL University Series 2019</div>
			</div>
			<div class="footer__bar__img">
				<span>
					<img src="asset/images/logo_sponsor_airasia.png" alt="">
				</span>
				<div class="footer__bar__title">Official Airlines of IEL University Series 2019</div>
			</div>
			<div class="footer__bar__img">
				<span>
					<img src="asset/images/logo_sponsor_rexus.png" alt="">
				</span>
				<div class="footer__bar__title">Official Esports Chairs of IEL University Series 2019</div>
			</div>
		</div>
		<div class="footer__bar__wrap middle">
			<div class="footer__bar__img">
				<span>
					<img src="asset/images/logo_goodday.png" alt="">
				</span>
			</div>
		</div>
		<div class="footer__bar__wrap bottom">
			<div class="footer__bar__img">
				<div class="footer__credit">Organized by:</div>
				<img src="asset/images/logo_mix_360_esports.png" alt="">
			</div>
			<div class="footer__bar__img">
				<div class="footer__credit">Supported by:</div>
				<img src="asset/images/logo_meta.png" alt="">
				<img src="asset/images/logo_eproject.png" alt="">
			</div>
			<div class="footer__bar__img">
				<div class="footer__credit">Production by:</div>
				<img src="asset/images/logo_liga_game.png" alt="">
			</div>
		</div>
	</div>
	<div class="social__block social--menu clearfix">
		<div class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon-facebook"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon-twitter"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon-youtube"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon-instagram"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link">
				<span class="icon icon-vidio"></span>
			</a>
		</div>
	</div>
	<div class="footer__menu clearfix">
		<div class="footer__item">
			<a href="#" class="footer__link">Tentang</a>
		</div>
		<div class="footer__item">
			<a href="#" class="footer__link">Kontak</a>
		</div>
		<div class="footer__item">
			<a href="#" class="footer__link">Syarat & Ketentuan</a>
		</div>
		<div class="footer__item">
			<a href="#" class="footer__link">Kebijakan & Privasi</a>
		</div>
		<div class="footer__item">
			<a href="#" class="footer__link">Rules</a>
		</div>
	</div>
	<div class="footer__copyright">
		<p>Copyright &copy; 2019 IEL UNIVERSITY LEAGUE</p>
		<p>Any commercial use or distribution without the express</p>
		<p>written consent of IEL UNIVERSITY LEAGUE is strictly prohibited.</p>
	</div>
</footer>

<!-- back to top -->
<a href="#" class="button button__backtop button--hide" id="js-backtop">
	<span class="icon icon-angle-up"></span>
</a>
