<div class="mail__reply mt1">
	<h3 class="title7"><span>Tanggapan</span></h3>
	
	<article class="read__content clearfix">
		<p>Menanggapi keluhan Bapak Deny Dwi Priyatmoko di media pada tanggal 4 Mei 2019 dengan judul, “Lebih dari 14 Hari Uang Tertelan Saat Setor Tunai, Hingga Kini Belum Ada Kabar”, BNI telah menghubungi Bapak Deny Dwi Priyatmoko untuk mengkonfirmasi penyelesaian permasalahan tersebut.</p><p>Bapak Deny Dwi Priyatmoko memberikan respon positif dan dapat menerima penjelasan yang disampaikan dengan baik.</p><p>Kami mengucapkan terimakasih atas masukan dan kesetiaan Bapak Deny Dwi Priyatmoko untuk senantiasa tetap menggunakan produk BNI.</p><p>Hormat kami,</p><br><p><strong>Bambang HariYang Bangga</strong><br><span style="font-size: 14px">PR Manager</span></p>
	</article>
</div>
