<div class="menu clearfix">
	<div class="menu__item search__item search--hide">
		<!-- search -->
		<div class="search search__bar">
			<form action="search.html" class="search__form">
				<input type="text" name="search" id="search" placeholder="Search" class="search__input">
				<input type="submit" value="submit" class="search__submit">
			</form>
		</div>
		<a href="#" class="menu__link search__button" id="js-search">
			<span class="icon icon-search"></span>
		</a>
	</div>
	<div class="menu__item">
		<a href="#" class="menu__link" id="js-login">
			<span class="icon icon-person"></span>
		</a>
	</div>
	<div class="menu__item">
		<a href="#" class="menu__link" id="js-profile">
			<div class="menu__profile__img">
				<img src="./asset/images/avatar-male.png" alt="">
			</div>
		</a>
	</div>
	<div class="menu__item">
		<a href="#sidr" class="menu__link icon-bar" id="js-menu">
			<i></i>
		</a>
	</div>
</div>
