<!-- content -->
<h1 class="articleRead__title">Final Kompetisi "Mobile Legends" Digelar di Indonesia, Hadiah Rp 1,4 Miliar</h1>
<div class="articleRead__date">23 September 2019, 12:23 Wib</div>
<div class="articleRead__author">By : Bang Rhoma</div>
	
<!-- article share -->
<div class="articleRead__share">
	<div class="social__block social--article clearfix">
		<div class="social__item">
			<a href="#" class="social__link social__link--facebook">
				<span class="icon icon-facebook"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--twitter">
				<span class="icon icon-twitter"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--whatsapp">
				<span class="icon icon-whatsapp"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--linkedin">
				<span class="icon icon-linkedin"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--line">
				<span class="icon icon-line"></span>
			</a>
		</div>
	</div>
</div>

<div class="articleRead__content">
	<p><strong>JAKARTA</strong>- Moonton, perusahaan pengembang game <em> Mobile Legends: Bang Bang</em> memastikan bakal menggelar pertandingan grand final Mobile Legends South East Asia (MSC) 2018 di Indonesia, dengan total hadiah yang disiapkan mencapai Rp 100.000 dollar AS atau setara Rp 1,4 miliar.</p>
	<p>MSC 2018 sendiri merupakan kompetisi besar yang diikuti beberapa perwakilan negara Asia Tenggara. Pada pertandingan MSC 2018, ada 7 negara yang ikut bertanding, yakni Indonesia, Filipina, Malaysia, Singapura, Thailand, Myanmar dan Vietnam. </p>
	<p>Country Manager Moonton Indonesia, Cayayan mengatakan bahwa kompetisi final tersebut digelar di Indonesia karena tingginya respons gamer Tanah Air. Bahkan, jumlah pemain Mobile Legends: Bang Bang Tanah Air termasuk yang tertinggi di Asia Tenggara. </p>
	<p>Kami memilih Indonesia sebagai tuan rumah karena animo masyarakat memang sangat besar. Kompetisi ini rencananya digelar di JIEXPO (Jakarta Convention Center) pada 27 Juli mendatang,&rdquo; jelasnya di hadapan awak media dalam acara Party of Legends, di Jakarta, Selasa (6/7/2018).</p>
	<p><strong>Baca juga: <a href="#">Mobile Legends Bakal Buka Kantor di Indonesia</a></strong></p>
	<p>Dia menjelaskan lebih lanjut, bahwa sistem kompetisi MSC 2018 berbeda dari yang diterapkan pada 2017 lalu. Kali ini diberlakukan sistem undangan, bukan pendaftaran terbuka.</p>

	<div class="video__wrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/mKiWvdnDoLo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>

	<p>Artinya, tim yang dipilih oleh Moonton untuk bertanding di MSC 2018 merupakan hasil seleksi. Mereka adalah pemenang dari Mobile Legends Professional League (MPL) di masing-masing negara.</p>
	<p>Kompetisi MSC 2018 sendiri dibagi menjadi dua babak, yakni Group Stage dan Playoff. Ada 10 tim yang bakal bertanding, yaitu:</p>
	<ol>
		<li>Juara MPL Indonesia : Aerowolf Proxy</li>
		<li>Juara MPL Filipina : Aether Main</li>
		<li>Juara MPL Malaysia-Singapura : Bigetron SG</li>
		<li>Undangan dari MPL ID : EVOS Esports dan RRQ.O2</li>
		<li>Undangan dari MPL Malaysia-Singapura : Air Asia Saiyan</li>
		<li>Undangan dari PL Filipina : Digital Devils</li>
	</ol>
	
	<div class="photo">
		<img src="https://asset.kompas.com/crop/0x0:0x0/750x500/data/photo/2017/08/12/3514773262.jpg" alt="">
	</div>
	
	<p>Sedangkan tiga tim lainnya, yakni dari Vietnam, Myanmar, serta Thailand masih dalam proses kualifikasi. Adapun, tim IDONOTSLEEP, yang merupakan pemenang MSC 2017 dari Thailand baru menyelesaikan proses kualifikasinya.</p>
	<p>Sebelumnya, pertandingan multiplayer online battle arena (MOBA) ini merupakan ajang kedua yang digelar Indonesia. Sebelumnya, pada 2017 juga pernah digelar pertandingan serupa, namun jumlah peserta yang lebih sedikit, yakni Indonesia, Filipina, Malaysia, Singapura, dan Thailand.</p>
</div>
