<div class="hl clearfix">
	<div class="hl__wrap" id="js-hl">
		<div class="hl__item">
			<div class="hl__img">
				<img src="https://asset.kompas.com/crop/0x0:0x0/400x300/data/photo/2018/08/27/3991928340.png" alt="">
			</div>
			<div class="hl__box">
				<h2 class="hl__title">
					<a href="news-detail.html" class="hl__link">Bot AI Gagal Kalahkan Manusia di Turnamen "Dota 2"</a>
				</h2>
			</div>
		</div>
		<div class="hl__item">
			<div class="hl__img">
				<img src="https://asset.kompas.com/crop/0x0:0x0/400x300/data/photo/2016/08/15/1118262the-international780x390.JPG" alt="">
			</div>
			<div class="hl__box">
				<h2 class="hl__title">
					<a href="news-detail.html" class="hl__link">Rekor Baru, Hadiah Kompetisi "Dota 2" Capai Rp 277 Miliar</a>
				</h2>
			</div>
		</div>
		<div class="hl__item">
			<div class="hl__img">
				<img src="https://asset.kompas.com/crop/0x0:0x0/400x300/data/photo/2017/12/18/4113056381.jpeg" alt="">
			</div>
			<div class="hl__box">
				<h2 class="hl__title">
					<a href="news-detail.html" class="hl__link">Final Kompetisi "Mobile Legends" Digelar di Indonesia, Hadiah Rp 1,4 Miliar</a>
				</h2>
			</div>
		</div>
		<div class="hl__item">
			<div class="hl__img">
				<img src="https://asset.kompas.com/crop/0x0:0x0/400x300/data/photo/2018/12/15/1875130313.png" alt="">
			</div>
			<div class="hl__box">
				<h2 class="hl__title">
					<a href="news-detail.html" class="hl__link">Karakter Baru di Mobile Legends Terinspirasi Ratu Laut Selatan</a>
				</h2>
			</div>
		</div>
	</div>
</div>
