<div class="tags clearfix">
	<h3 class="tags__title">
		<span>Tags</span>
	</h3>
	<ul class="tags__wrap">
		<li class="tags__item">
			<a href="tags.html" class="tags__link">#Game Online</a>
		</li>
		<li class="tags__item">
			<a href="tags.html" class="tags__link">#Mobile Legend</a>
		</li>
		<li class="tags__item">
			<a href="tags.html" class="tags__link">#Dota</a>
		</li>
		<li class="tags__item">
			<a href="tags.html" class="tags__link">#Esports</a>
		</li>
		<li class="tags__item">
			<a href="tags.html" class="tags__link">#Entertainment</a>
		</li>
	</ul>
</div>
