

<h1 class="read__title"></h1>

<div class="read__info">
	<div class="read__info__author">
		<a href="opini-author.html"></a>
	</div>
	<div class="read__info__date">
		24 September 2019
	</div>
</div>

<div class="social social--article clearfix">
	<div class="social__item">
		<a href="#" class="social__link social__link--facebook">
			<span class="icon icon-facebook"></span>
		</a>
	</div>
	<div class="social__item">
		<a href="#" class="social__link social__link--twitter">
			<span class="icon icon-twitter"></span>
		</a>
	</div>
	<div class="social__item">
		<a href="#" class="social__link social__link--whatsapp">
			<span class="icon icon-whatsapp"></span>
		</a>
	</div>
	<div class="social__item">
		<a href="#" class="social__link social__link--line">
			<span class="icon icon-line"></span>
		</a>
	</div>
</div>

