<div class="team__detail">
	<div class="team__row clearfix">
		<div class="team__info__wrap">
			<div class="team__title">Universitas Multimedia Nusantara</div>
			<div class="team__info clearfix">
				Berdiri <span>23 Agustus 1987 </span>
			</div>
			<div class="team__info clearfix">
				Kota <span>Jakarta </span>
			</div>
			<div class="team__info clearfix">
				Website <span><a href="http://www.umn.ac.id/" target="_blank">http://www.umn.ac.id/</a> </span>
			</div>
		</div>
		<div class="team__ads__logo">
			<span>Powered by</span>
			<img src="https://via.placeholder.com/100x100" alt="">
		</div>
	</div>
	
	<!-- profile -->
	<div class="team__member">
		
		<div class="team__header">
			<ul class="team__tab" data-type="tabs">
				<li><a href="#tm_mlbb">Mobile Legend</a></li>
				<li><a href="#tm_dota">Dota</a></li>
			</ul>
		</div>
		<div class="team__content">
		
			<!-- profile mlbb -->
			<div id="tm_mlbb" class="team__member__wrap">
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama <span>Mohammad Salah Husain</span></div>
						<div class="team__member__info clearfix">Jurusan <span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan <span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID <span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama <span>Mohammad Salah</span></div>
						<div class="team__member__info clearfix">Jurusan <span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan <span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID <span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama <span>Mohammad Salah</span></div>
						<div class="team__member__info clearfix">Jurusan <span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan <span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID <span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama <span>Mohammad Salah</span></div>
						<div class="team__member__info clearfix">Jurusan <span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan <span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID <span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama <span>Mohammad Salah</span></div>
						<div class="team__member__info clearfix">Jurusan <span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan <span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID <span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama <span>Mohammad Salah</span></div>
						<div class="team__member__info clearfix">Jurusan <span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan <span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID <span>72372</span></div>
					</div>
				</div>
			</div>
			
		
			<!-- profile dota -->
			<div id="tm_dota" class="team__member__wrap">
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama<span>Sadio Mane</span></div>
						<div class="team__member__info clearfix">Jurusan<span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan<span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID<span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama<span>Sadio Mane</span></div>
						<div class="team__member__info clearfix">Jurusan<span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan<span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID<span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama<span>Sadio Mane</span></div>
						<div class="team__member__info clearfix">Jurusan<span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan<span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID<span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama<span>Sadio Mane</span></div>
						<div class="team__member__info clearfix">Jurusan<span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan<span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID<span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama<span>Sadio Mane</span></div>
						<div class="team__member__info clearfix">Jurusan<span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan<span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID<span>72372</span></div>
					</div>
				</div>
				<div class="team__member__item">
					<div class="team__member__photo">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
					<div class="team__member__row">
						<div class="team__member__info clearfix">Nama<span>Sadio Mane</span></div>
						<div class="team__member__info clearfix">Jurusan<span>Teknik Informatika</span></div>
						<div class="team__member__info clearfix">Angkatan<span>2016</span></div>
						<div class="team__member__info clearfix">META.us Gamer ID<span>72372</span></div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	
</div>
