<div class="team__logo page">
	<div class="team__list">
		<div class="team__slick__item">
			<div class="team__bigitem">
				<div class="team__item">
					<a href="team-detail.html" class="team__link active">
						<div class="team__img">
							<img src="asset/images/team_umn.png" alt="">
						</div>
						<span class="team__name">Universitas Multimedia Nusantara</span>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_binus.png" alt="">
						</div>
						<span class="team__name">Binus University</span>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_maranatha.png" alt="">
						</div>
						<span class="team__name">Universitas Maranatha</span>
					</a>
				</div>
			</div>
		</div>
		<div class="team__slick__item">
			<div class="team__bigitem">
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_petra.png" alt="">
						</div>
						<span class="team__name">UK Petra</span>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_trisakti.png" alt="">
						</div>
						<span class="team__name">Universitas Trisakti</span>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_ubm.png" alt="">
						</div>
						<span class="team__name">Universitas Bunda Mulia</span>
					</a>
				</div>
			</div>
		</div>
		<div class="team__slick__item">
			<div class="team__bigitem">
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_udinus.png" alt="">
						</div>
						<span class="team__name">Universitas Dian Suswantoro</span>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_ugm.png" alt="">
						</div>
						<span class="team__name">Universitas Gajah Mada</span>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_ui.png" alt="">
						</div>
						<span class="team__name">Universitas Indonesia</span>
					</a>
				</div>
			</div>
		</div>
		<div class="team__slick__item">
			<div class="team__bigitem">
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_ciputra.png" alt="">
						</div>
						<span class="team__name">Universitas Ciputra</span>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_untar.png" alt="">
						</div>
						<span class="team__name">Universitas Tarumanegara</span>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link">
						<div class="team__img">
							<img src="asset/images/team_upn.png" alt="">
						</div>
						<span class="team__name">Universitas Pembangunan Nasional</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
