<div class="widget__salat">
	<div class="widget__title">Kota Bandung <span>11/10/2019</span></div>
	<div class="widget__salat__content">
		<table class="table">
			<tbody id="tbodyscroll">
				<tr>
					<td><strong>Subuh</strong></td>
					<td><span>04:14</span></td>
				</tr>
				<tr>
					<td><strong>Dzuhur</strong></td>
					<td><span>11:40</span></td>
				</tr>
				<tr>
					<td><strong>Ashar</strong></td>
					<td><span>14:41</span></td>
				</tr>
				<tr>
					<td><strong>Maghrib</strong></td>
					<td><span>17:50</span></td>
				</tr>
				<tr>
					<td><strong>Isya</strong></td>
					<td><span>18:56</span></td>
				</tr>
			</tbody>
		</table>
		<p>Sumber: <a href="#">Jadwal Salat Kemenag</a></p>
	</div>
</div>
