<div class="vs__wp vs__finals">
	<div class="standing__header">
		<ul class="standing__tab" data-type="tabs">
			<li><a href="#fmlbb">Mobile Legend</a></li>
			<li><a href="#fdota">Dota</a></li>
		</ul>
	</div>
	<div class="standing__content">
		<div id="fmlbb" class="standing__item">
			<div class="vs__finals__wrap">

				<!-- juara -->
				<div class="vs__block winner">
					<div class="vs__item">
						<div class="vs__cup type">
							<img src="asset/images/bracket_ml.png" alt="">
						</div>
						<div class="vs__cup cup">
							<img src="asset/images/bracket_cup.png" alt="">
						</div>
						<div class="vs__team">
							<div class="vs__logo">
								<span>
									<!--<img src="asset/images/team_binus.png" alt="">-->
								</span>
								<div class="vs__name">Tim Juara</div>
							</div>
						</div>
					</div>
				</div>

				<!-- final -->
				<div class="vs__block final">
					<div class="vs__item">
						<div class="vs__team">
							<div class="vs__date">28 April 2019</div>
							<div class="vs__logo">
								<span>
								</span>
							</div>
							<div class="vs__line">VS</div>
							<div class="vs__logo">
								<span>
								</span>
							</div>
						</div>
						<div class="vs__score">
							<div class="vs__score__span2">
								<div class="vs__name">Tim <br />Finalis</div>
								<div class="vs__result"><span>0</span></div>
							</div>
							<div class="vs__score__span1">
								<div class="vs__name"></div>
								<div class="vs__cat"></div>
							</div>
							<div class="vs__score__span2">
								<div class="vs__name">Tim <br />Finalis</div>
								<div class="vs__result"><span>0</span></div>
							</div>
						</div>
					</div>
				</div>

				<!-- semifinal -->
				<div class="vs__block semifinal">
					<div class="vs__item">
						<div class="vs__team">
							<div class="vs__date">27 April 2019</div>
							<div class="vs__logo">
								<span>
									<img src="asset/images/team_petra.png" alt="">
								</span>
							</div>
							<div class="vs__line">VS</div>
							<div class="vs__logo">
								<span>
									<img src="asset/images/team_umn.png" alt="">
								</span>
							</div>
						</div>
						<div class="vs__score">
							<div class="vs__score__span2">
								<div class="vs__name">Universitas Kristen Petra</div>
								<div class="vs__result"><span>0</span></div>
							</div>
							<div class="vs__score__span1">
								<div class="vs__name"></div>
								<div class="vs__cat"></div>
							</div>
							<div class="vs__score__span2">
								<div class="vs__name">Universitas Multimedia Nusantara</div>
								<div class="vs__result"><span>0</span></div>
							</div>
						</div>
					</div>
					<div class="vs__item">
						<div class="vs__team">
							<div class="vs__date">27 April 2019</div>
							<div class="vs__logo">
								<span>
									<img src="asset/images/team_binus.png" alt="">
								</span>
							</div>
							<div class="vs__line">VS</div>
							<div class="vs__logo">
								<span>
									<img src="asset/images/team_udinus.png" alt="">
								</span>
							</div>
						</div>
						<div class="vs__score">
							<div class="vs__score__span2">
								<div class="vs__name">Binus University</div>
								<div class="vs__result"><span>0</span></div>
							</div>
							<div class="vs__score__span1">
								<div class="vs__name"></div>
								<div class="vs__cat"></div>
							</div>
							<div class="vs__score__span2">
								<div class="vs__name">Universitas Dian Nuswantoro</div>
								<div class="vs__result"><span>0</span></div>
							</div>
						</div>
					</div>
				</div>

				<!-- 3rd place -->
				<div class="vs__block bronze">
					<div class="vs__item">
						<div class="vs__team">
							<div class="vs__date">28 April 2019</div>
							<div class="vs__logo">
								<span>
								</span>
							</div>
							<div class="vs__line">VS</div>
							<div class="vs__logo">
								<span>
								</span>
							</div>
						</div>
						<div class="vs__score">
							<div class="vs__score__span2">
								<div class="vs__name">Tim</div>
								<div class="vs__result"><span>0</span></div>
							</div>
							<div class="vs__score__span1">
								<div class="vs__name"></div>
								<div class="vs__cat"></div>
							</div>
							<div class="vs__score__span2">
								<div class="vs__name">Tim</div>
								<div class="vs__result"><span>0</span></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div id="fdota" class="standing__item">
			<div class="vs__finals__wrap">

				<!-- juara -->
				<div class="vs__block winner">
					<div class="vs__item">
						<div class="vs__cup type">
							<img src="asset/images/bracket_dota.png" alt="">
						</div>
						<div class="vs__cup cup">
							<img src="asset/images/bracket_cup.png" alt="">
						</div>
						<div class="vs__team">
							<div class="vs__logo">
								<span>
									<!--<img src="asset/images/team_binus.png" alt="">-->
								</span>
								<div class="vs__name">Tim Juara</div>
							</div>
						</div>
					</div>
				</div>

				<!-- final -->
				<div class="vs__block final">
					<div class="vs__item">
						<div class="vs__team">
							<div class="vs__date">28 April 2019</div>
							<div class="vs__logo">
								<span>
								</span>
							</div>
							<div class="vs__line">VS</div>
							<div class="vs__logo">
								<span>
								</span>
							</div>
						</div>
						<div class="vs__score">
							<div class="vs__score__span2">
								<div class="vs__name">Tim <br />Finalis</div>
								<div class="vs__result"><span>0</span></div>
							</div>
							<div class="vs__score__span1">
								<div class="vs__name"></div>
								<div class="vs__cat"></div>
							</div>
							<div class="vs__score__span2">
								<div class="vs__name">Tim <br />Finalis</div>
								<div class="vs__result"><span>0</span></div>
							</div>
						</div>
					</div>
				</div>

				<!-- semifinal -->
				<div class="vs__block semifinal">
					<div class="vs__item">
						<div class="vs__team">
							<div class="vs__date">27 April 2019</div>
							<div class="vs__logo">
								<span>
									<img src="asset/images/team_maranatha.png" alt="">
								</span>
							</div>
							<div class="vs__line">VS</div>
							<div class="vs__logo">
								<span>
									<img src="asset/images/team_umn.png" alt="">
								</span>
							</div>
						</div>
						<div class="vs__score">
							<div class="vs__score__span2">
								<div class="vs__name">Universitas Kristen Maranatha</div>
								<div class="vs__result"><span>0</span></div>
							</div>
							<div class="vs__score__span1">
								<div class="vs__name"></div>
								<div class="vs__cat"></div>
							</div>
							<div class="vs__score__span2">
								<div class="vs__name">Universitas Multimedia Nusantara</div>
								<div class="vs__result"><span>0</span></div>
							</div>
						</div>
					</div>
					<div class="vs__item">
						<div class="vs__team">
							<div class="vs__date">27 April 2019</div>
							<div class="vs__logo">
								<span>
									<img src="asset/images/team_binus.png" alt="">
								</span>
							</div>
							<div class="vs__line">VS</div>
							<div class="vs__logo">
								<span>
									<img src="asset/images/team_ciputra.png" alt="">
								</span>
							</div>
						</div>
						<div class="vs__score">
							<div class="vs__score__span2">
								<div class="vs__name">Binus University</div>
								<div class="vs__result"><span>0</span></div>
							</div>
							<div class="vs__score__span1">
								<div class="vs__name"></div>
								<div class="vs__cat"></div>
							</div>
							<div class="vs__score__span2">
								<div class="vs__name">Universitas Ciputra</div>
								<div class="vs__result"><span>0</span></div>
							</div>
						</div>
					</div>
				</div>

				<!-- 3rd place -->
				<div class="vs__block bronze">
					<div class="vs__item">
						<div class="vs__team">
							<div class="vs__date">28 April 2019</div>
							<div class="vs__logo">
								<span>
								</span>
							</div>
							<div class="vs__line">VS</div>
							<div class="vs__logo">
								<span>
								</span>
							</div>
						</div>
						<div class="vs__score">
							<div class="vs__score__span2">
								<div class="vs__name">Tim</div>
								<div class="vs__result"><span>0</span></div>
							</div>
							<div class="vs__score__span1">
								<div class="vs__name"></div>
								<div class="vs__cat"></div>
							</div>
							<div class="vs__score__span2">
								<div class="vs__name">Tim</div>
								<div class="vs__result"><span>0</span></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
