<div class="news__wp">
	<div class="news__list">
		<ul class="news__wrap">
			<li class="news__item big clearfix">
				<div class="news__img">
					<img src="https://asset.kompas.com/crop/0x0:0x0/300x175/data/photo/2017/08/12/3514773262.jpg" alt="">
				</div>
				<div class="news__box">
					<div class="news__date">22 September 2019, 15:30 Wib</div>
					<h2 class="news__title">
						<a class="news__link" href="news-detail.html">
							Kejuaraan Game Internasional "Dota 2" Akan Ditayangkan di Kompas TV
						</a>
					</h2>
				</div>
			</li>
			<li class="news__item clearfix">
				<div class="news__img">
					<img src="https://asset.kompas.com/crop/0x0:0x0/300x200/data/photo/2017/08/12/3514773262.jpg" alt="">
				</div>
				<div class="news__box">
					<div class="news__date">22 September 2019, 15:30 Wib</div>
					<h2 class="news__title">
						<a class="news__link" href="news-detail.html">
							Kejuaraan Game Internasional "Dota 2" Akan Ditayangkan di Kompas TV
						</a>
					</h2>
				</div>
			</li>
			<li class="news__item clearfix">
				<div class="news__img">
					<img src="https://asset.kompas.com/crop/0x0:0x0/300x200/data/photo/2017/08/12/3514773262.jpg" alt="">
				</div>
				<div class="news__box">
					<div class="news__date">22 September 2019, 15:30 Wib</div>
					<h2 class="news__title">
						<a class="news__link" href="news-detail.html">
							Kejuaraan Game Internasional "Dota 2" Akan Ditayangkan di Kompas TV
						</a>
					</h2>
				</div>
			</li>
			<li class="news__item clearfix">
				<div class="news__img">
					<img src="https://asset.kompas.com/crop/0x0:0x0/300x200/data/photo/2017/08/12/3514773262.jpg" alt="">
				</div>
				<div class="news__box">
					<div class="news__date">22 September 2019, 15:30 Wib</div>
					<h2 class="news__title">
						<a class="news__link" href="news-detail.html">
							Kejuaraan Game Internasional "Dota 2" Akan Ditayangkan di Kompas TV
						</a>
					</h2>
				</div>
			</li>
		</ul>
	</div>
</div>
