<div class="vs__wp">
	<h3 class="subtitle subtitle--bg text-center"><span>MATCH FIXTURES</span></h3>
	<div class="vs__wrap" id="js-schedule">
	
		<!-- item slick -->
		<div class="vs__slick__item">
			<div class="vs__block">
			
				<!-- item schedule -->
				<div class="vs__item live">
					<div class="vs__team">
						<div class="vs__live"><span>Live</span></div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_binus.png" alt="">
							</span>
						</div>
						<div class="vs__line">VS</div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_ciputra.png" alt="">
							</span>
						</div>
					</div>
					<div class="vs__date">21 September 2019</div>
					<div class="vs__score">
						<div class="vs__score__span2">
							<div class="vs__name">Binus University</div>
							<div class="vs__result"><span>1</span></div>
							<div class="vs__result"><span>4</span></div>
						</div>
						<div class="vs__score__span1">
							<div class="vs__name"></div>
							<div class="vs__cat">MLBB</div>
							<div class="vs__cat">DOTA</div>
						</div>
						<div class="vs__score__span2">
							<div class="vs__name">Universitas Ciputra</div>
							<div class="vs__result"><span>3</span></div>
							<div class="vs__result"><span>5</span></div>
						</div>
					</div>
				</div>
				<!-- item schedule -->
				<div class="vs__item">
					<div class="vs__team">
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_binus.png" alt="">
							</span>
						</div>
						<div class="vs__line">VS</div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_ciputra.png" alt="">
							</span>
						</div>
					</div>
					<div class="vs__date">21 September 2019</div>
					<div class="vs__score">
						<div class="vs__score__span2">
							<div class="vs__name">Binus University</div>
							<div class="vs__result"><span>1</span></div>
							<div class="vs__result"><span>4</span></div>
						</div>
						<div class="vs__score__span1">
							<div class="vs__name"></div>
							<div class="vs__cat">MLBB</div>
							<div class="vs__cat">DOTA</div>
						</div>
						<div class="vs__score__span2">
							<div class="vs__name">Universitas Ciputra</div>
							<div class="vs__result"><span>3</span></div>
							<div class="vs__result"><span>5</span></div>
						</div>
					</div>
				</div>
				<!-- item schedule -->
				<div class="vs__item">
					<div class="vs__team">
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_binus.png" alt="">
							</span>
						</div>
						<div class="vs__line">VS</div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_ciputra.png" alt="">
							</span>
						</div>
					</div>
					<div class="vs__date">21 September 2019</div>
					<div class="vs__score">
						<div class="vs__score__span2">
							<div class="vs__name">Binus University</div>
							<div class="vs__result"><span>1</span></div>
							<div class="vs__result"><span>4</span></div>
						</div>
						<div class="vs__score__span1">
							<div class="vs__name"></div>
							<div class="vs__cat">MLBB</div>
							<div class="vs__cat">DOTA</div>
						</div>
						<div class="vs__score__span2">
							<div class="vs__name">Universitas Ciputra</div>
							<div class="vs__result"><span>3</span></div>
							<div class="vs__result"><span>5</span></div>
						</div>
					</div>
				</div>
				<!-- item schedule -->
				<div class="vs__item live">
					<div class="vs__team">
						<div class="vs__live"><span>Live</span></div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_binus.png" alt="">
							</span>
						</div>
						<div class="vs__line">VS</div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_ciputra.png" alt="">
							</span>
						</div>
					</div>
					<div class="vs__date">21 September 2019</div>
					<div class="vs__score">
						<div class="vs__score__span2">
							<div class="vs__name">Binus University</div>
							<div class="vs__result"><span>1</span></div>
							<div class="vs__result"><span>4</span></div>
						</div>
						<div class="vs__score__span1">
							<div class="vs__name"></div>
							<div class="vs__cat">MLBB</div>
							<div class="vs__cat">DOTA</div>
						</div>
						<div class="vs__score__span2">
							<div class="vs__name">Universitas Ciputra</div>
							<div class="vs__result"><span>3</span></div>
							<div class="vs__result"><span>5</span></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<!-- item slick -->
		<div class="vs__slick__item">
			<div class="vs__block">
			
				<!-- item schedule -->
				<div class="vs__item">
					<div class="vs__team">
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_binus.png" alt="">
							</span>
						</div>
						<div class="vs__line">VS</div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_ciputra.png" alt="">
							</span>
						</div>
					</div>
					<div class="vs__date">21 September 2019</div>
					<div class="vs__score">
						<div class="vs__score__span2">
							<div class="vs__name">Binus University</div>
							<div class="vs__result"><span>1</span></div>
							<div class="vs__result"><span>4</span></div>
						</div>
						<div class="vs__score__span1">
							<div class="vs__name"></div>
							<div class="vs__cat">MLBB</div>
							<div class="vs__cat">DOTA</div>
						</div>
						<div class="vs__score__span2">
							<div class="vs__name">Universitas Ciputra</div>
							<div class="vs__result"><span>3</span></div>
							<div class="vs__result"><span>5</span></div>
						</div>
					</div>
				</div>
				<!-- item schedule -->
				<div class="vs__item">
					<div class="vs__team">
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_binus.png" alt="">
							</span>
						</div>
						<div class="vs__line">VS</div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_ciputra.png" alt="">
							</span>
						</div>
					</div>
					<div class="vs__date">21 September 2019</div>
					<div class="vs__score">
						<div class="vs__score__span2">
							<div class="vs__name">Binus University</div>
							<div class="vs__result"><span>1</span></div>
							<div class="vs__result"><span>4</span></div>
						</div>
						<div class="vs__score__span1">
							<div class="vs__name"></div>
							<div class="vs__cat">MLBB</div>
							<div class="vs__cat">DOTA</div>
						</div>
						<div class="vs__score__span2">
							<div class="vs__name">Universitas Ciputra</div>
							<div class="vs__result"><span>3</span></div>
							<div class="vs__result"><span>5</span></div>
						</div>
					</div>
				</div>
				<!-- item schedule -->
				<div class="vs__item">
					<div class="vs__team">
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_binus.png" alt="">
							</span>
						</div>
						<div class="vs__line">VS</div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_ciputra.png" alt="">
							</span>
						</div>
					</div>
					<div class="vs__date">21 September 2019</div>
					<div class="vs__score">
						<div class="vs__score__span2">
							<div class="vs__name">Binus University</div>
							<div class="vs__result"><span>1</span></div>
							<div class="vs__result"><span>4</span></div>
						</div>
						<div class="vs__score__span1">
							<div class="vs__name"></div>
							<div class="vs__cat">MLBB</div>
							<div class="vs__cat">DOTA</div>
						</div>
						<div class="vs__score__span2">
							<div class="vs__name">Universitas Ciputra</div>
							<div class="vs__result"><span>3</span></div>
							<div class="vs__result"><span>5</span></div>
						</div>
					</div>
				</div>
				<!-- item schedule -->
				<div class="vs__item">
					<div class="vs__team">
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_binus.png" alt="">
							</span>
						</div>
						<div class="vs__line">VS</div>
						<div class="vs__logo">
							<span>
								<img src="asset/images/team_ciputra.png" alt="">
							</span>
						</div>
					</div>
					<div class="vs__date">21 September 2019</div>
					<div class="vs__score">
						<div class="vs__score__span2">
							<div class="vs__name">Binus University</div>
							<div class="vs__result"><span>1</span></div>
							<div class="vs__result"><span>4</span></div>
						</div>
						<div class="vs__score__span1">
							<div class="vs__name"></div>
							<div class="vs__cat">MLBB</div>
							<div class="vs__cat">DOTA</div>
						</div>
						<div class="vs__score__span2">
							<div class="vs__name">Universitas Ciputra</div>
							<div class="vs__result"><span>3</span></div>
							<div class="vs__result"><span>5</span></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
