<!-- page share -->
<div class="section__share">
	<div class="social__block social--article clearfix">
		<div class="social__item">
			<a href="#" class="social__link social__link--facebook">
				<span class="icon icon-facebook"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--google-plus">
				<span class="icon icon-google-plus"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--twitter">
				<span class="icon icon-twitter"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--line">
				<span class="icon icon-line"></span>
			</a>
		</div>
		<div class="social__item">
			<a href="#" class="social__link social__link--rss">
				<span class="icon icon-rss"></span>
			</a>
		</div>
	</div>
</div>
