<div class="standing__wp">
	<div class="standing__wrap">
		<div class="standing__header">
			<ul class="standing__tab" data-type="tabs">
				<li><a href="#mlbb">Mobile Legend</a></li>
				<li><a href="#dota">Dota</a></li>
			</ul>
		</div>
		<div class="standing__content">
			<!-- mobile legend -->
			<div id="mlbb" class="standing__item">
				<div class="table__content">
					<div class="table__title">Group A</div>
					<table class="table">
						<tr>
							<th>Rank</th>
							<th>Team</th>
							<th><span title="Plays">P</span></th>
							<th><span title="Wins">W</span></th>
							<th><span title="Draws">D</span></th>
							<th><span title="Losses">L</span></th>
							<th><span title="Points">Pts</span></th>
						</tr>
						<tr>
							<td>1</td>
							<td>Binus University</td>
							<td>8</td>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>24</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Universitas Ciputra</td>
							<td>8</td>
							<td>7</td>
							<td>0</td>
							<td>1</td>
							<td>21</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Universitas Maranatha</td>
							<td>8</td>
							<td>5</td>
							<td>1</td>
							<td>2</td>
							<td>15</td>
						</tr>
						<tr>
							<td>4</td>
							<td>UK Petra</td>
							<td>8</td>
							<td>5</td>
							<td>1</td>
							<td>2</td>
							<td>15</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Universitas Trisakti</td>
							<td>8</td>
							<td>1</td>
							<td>0</td>
							<td>7</td>
							<td>3</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Universitas Bunda Mulia</td>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>8</td>
							<td>0</td>
						</tr>
					</table>
				</div>
				
				<div class="table__content">
					<div class="table__title">Group B</div>
					<table class="table">
						<tr>
							<th>Rank</th>
							<th>Team</th>
							<th><span title="Plays">P</span></th>
							<th><span title="Wins">W</span></th>
							<th><span title="Draws">D</span></th>
							<th><span title="Losses">L</span></th>
							<th><span title="Points">Pts</span></th>
						</tr>
						<tr>
							<td>1</td>
							<td>Binus University</td>
							<td>8</td>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>24</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Universitas Ciputra</td>
							<td>8</td>
							<td>7</td>
							<td>0</td>
							<td>1</td>
							<td>21</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Universitas Maranatha</td>
							<td>8</td>
							<td>5</td>
							<td>1</td>
							<td>2</td>
							<td>15</td>
						</tr>
						<tr>
							<td>4</td>
							<td>UK Petra</td>
							<td>8</td>
							<td>5</td>
							<td>1</td>
							<td>2</td>
							<td>15</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Universitas Trisakti</td>
							<td>8</td>
							<td>1</td>
							<td>0</td>
							<td>7</td>
							<td>3</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Universitas Bunda Mulia</td>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>8</td>
							<td>0</td>
						</tr>
					</table>
				</div>
			</div>
			
			<!-- dota -->
			<div id="dota" class="standing__item">
				<div class="table__content">
					<div class="table__title">Group C</div>
					<table class="table">
						<tr>
							<th>Rank</th>
							<th>Team</th>
							<th><span title="Plays">P</span></th>
							<th><span title="Wins">W</span></th>
							<th><span title="Draws">D</span></th>
							<th><span title="Losses">L</span></th>
							<th><span title="Points">Pts</span></th>
						</tr>
						<tr>
							<td>1</td>
							<td>Universitas Ciputra</td>
							<td>10</td>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>24</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Binus University</td>
							<td>10</td>
							<td>7</td>
							<td>0</td>
							<td>1</td>
							<td>21</td>
						</tr>
						<tr>
							<td>3</td>
							<td>UK Petra</td>
							<td>10</td>
							<td>5</td>
							<td>1</td>
							<td>2</td>
							<td>15</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Universitas Maranatha</td>
							<td>10</td>
							<td>5</td>
							<td>1</td>
							<td>2</td>
							<td>15</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Universitas Bunda Mulia</td>
							<td>10</td>
							<td>1</td>
							<td>0</td>
							<td>7</td>
							<td>3</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Universitas Trisakti</td>
							<td>10</td>
							<td>0</td>
							<td>0</td>
							<td>8</td>
							<td>0</td>
						</tr>
					</table>
				</div>
				
				<div class="table__content">
					<div class="table__title">Group D</div>
					<table class="table">
						<tr>
							<th>Rank</th>
							<th>Team</th>
							<th><span title="Plays">P</span></th>
							<th><span title="Wins">W</span></th>
							<th><span title="Draws">D</span></th>
							<th><span title="Losses">L</span></th>
							<th><span title="Points">Pts</span></th>
						</tr>
						<tr>
							<td>1</td>
							<td>Binus University</td>
							<td>8</td>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>24</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Universitas Ciputra</td>
							<td>8</td>
							<td>7</td>
							<td>0</td>
							<td>1</td>
							<td>21</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Universitas Maranatha</td>
							<td>8</td>
							<td>5</td>
							<td>1</td>
							<td>2</td>
							<td>15</td>
						</tr>
						<tr>
							<td>4</td>
							<td>UK Petra</td>
							<td>8</td>
							<td>5</td>
							<td>1</td>
							<td>2</td>
							<td>15</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Universitas Trisakti</td>
							<td>8</td>
							<td>1</td>
							<td>0</td>
							<td>7</td>
							<td>3</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Universitas Bunda Mulia</td>
							<td>8</td>
							<td>0</td>
							<td>0</td>
							<td>8</td>
							<td>0</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
