<div class="team__logo wp">
	<div class="team__list" id="js-team">
	
		<!-- team slider -->
		<div class="team__slick__item">
			<div class="team__bigitem">
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_binus.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_ciputra.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_maranatha.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_petra.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_trisakti.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_ubm.png" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<!-- team slider -->
		<div class="team__slick__item">
			<div class="team__bigitem">
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_udinus.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_ugm.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_ui.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_umn.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_untar.png" alt="">
						</div>
					</a>
				</div>
				<div class="team__item">
					<a href="team-detail.html" class="team__link" title="Binus University">
						<div class="team__img">
							<img src="asset/images/team_upn.png" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<!-- sponsor slider -->
		<div class="team__slick__item">
			<div class="team__bigitem">
				<div class="team__item">
					<div class="team__img">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
				</div>
				<div class="team__item">
					<div class="team__img">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
				</div>
				<div class="team__item">
					<div class="team__img">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
				</div>
				<div class="team__item">
					<div class="team__img">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
				</div>
				<div class="team__item">
					<div class="team__img">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
				</div>
				<div class="team__item">
					<div class="team__img">
						<img src="https://via.placeholder.com/100x100" alt="">
					</div>
				</div>
			</div>
		</div>
		
		<!-- sponsor slider -->
		<div class="team__slick__item">
			<div class="team__bigitem">
				<div class="team__item full">
					<div class="team__img">
						<img src="https://via.placeholder.com/400x260" alt="">
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
