.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	z-index: 9;
	border-top: 13px solid #000;
	background: #fff;
	width: $screen-lg-desktop;
	&__top {
		position: relative;
		background: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
		z-index: 1;
	}
	&__bottom {
		background: #fff;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		//display: none;
		opacity: 0;
		//visibility: hidden;
		//z-index: -1;
		@include transition(all .2s ease);
	}
}

.logo {
	position: relative;
	text-align: center;
	padding: 12px 0 14px;
	@include min-responsive(360px) {
		padding: 10px 0;
	}
	img {
		height: 34px;
		@include min-responsive(360px) {
			height: 40px;
		}
	}
	&__link,
	a {
		display: inline-block;
	}
}
.-search {
	.header__bottom {
		display: block;
		top: 60px;
		//visibility: visible;
		opacity: 1;
	}
}
