.header {
	position: fixed;
	top: 0;
	left: 0;
	//height: 60px;
	z-index: 99;
	color: #000;
	background: $color_theme;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	&__wrap {
		position: relative;
		height: 60px;
	}
}

.logo {
	position: absolute;
	padding: 10px 0 0;
	width: 100%;
	text-align: center;
	z-index: 1;
	img {
		width: auto;
		height: 82px;
	}
	&__link,
	a {
		display: inline-block;
	}
}
