.notes {
	position: relative;
	text-align: center;
	padding: 10px 0;
	margin: 0 -5px;
	display: block;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__item {
		display: inline-block;
		padding: 0 5px;
		margin: 0 0 10px;
		width: 50%;
		@include min-responsive(480px) {
			width: 33.333333%;
		}
	}
}

.league {
	&__bottom {
		padding: 40px 0;
	}
	&__about {
		padding: 20px 0 0;
		text-align: center;
	}
	&__logo {
		display: block;
		text-align: center;
		img {
			height: 170px;
			filter: drop-shadow(5px 5px 3px rgba(0,0,0, .4));
		}
	}
	&__title {
		//letter-spacing: 1px;
		padding: 20px 0 0;
		@include font-pack($dinpro_black, 27px, false, false, $color_theme);
		@include max-responsive(360px) {
			span {
				display: block;
			}
		}
	}
	&__title2 {
		padding: 0 0 20px;
		margin: 0;
		@include font-pack($dinpro_medium, 23px, false, false, #999);
	}
	&__subtitle {
		letter-spacing: 5px;
		padding: 0;
		@include font-pack($dinpro_medium, 28px, false, false, $color_theme);
	}
	&__content {
		padding: 0 0 20px;
		@include font-pack(false, 16px, false, 1.7, false);
	}
	&__prize {
		position: relative;
		display: block;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		padding: 20px 0 0;
		&__title {
			text-align: left;
			padding: 15px 0 0;
			span {
				display: block;
			}
			span:first-child {
				text-transform: uppercase;
				letter-spacing: 3px;
				@include font-pack($dinpro_black, 20px, false, 1, $color_theme);
			}
			span:nth-of-type(2) {
				padding: 5px 0;
				letter-spacing: 1px;
				text-transform: uppercase;
				@include font-pack($dinpro_black, 35px, false, 1, #9f8226);
			}
			span:last-child {
				@include font-pack($dinpro_regular, 18px, false, 1, #9f8226);
			}
		}
		&__img {
			padding: 0 5px;
			img {
				width: 100px;
			}
		}
	}
}
