.official {
	position: relative;
	text-align: center;
	padding: 20px 0;
	display: block;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__item {
		display: inline-block;
		padding: 0 5px;
		width: 33.333333%;
		@include min-responsive(480px) {
			width: 20%;
		}
	}
}
