.vs {
	&__wp {
		position: relative;
		padding: 10px 0;
	}
	&__wrap {
		position: relative;
	}
	&__block {
		position: relative;
		text-align: center;
		padding: 0;
		display: block;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&__item {
		position: relative;
		padding: 0 5px;
		margin: 0 0 20px;
		width: calc(100% / 2);
	}
	&__team {
		border-radius: 5px;
		background: rgba($color_theme2,.8);
		padding: 20px 5px 10px;
		display: block;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}
	&__logo {
		width: 40%;
		span {
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			background: #fff;
			overflow: hidden;
			padding: 5px;
			@include min-responsive(700px) {
				width: 70px;
				height: 70px;
			}
		}
	}
	&__live {
		width: 100%;
		position: absolute;
		top: 2px;
		left: 0;
		z-index: 1;
		text-align: center;
		span {
			color: #fff;
			font-size: 11px;
			position: relative;
			display: inline-block;
			padding: 0 5px;
			text-transform: uppercase;
			&:before {
				content: '';
				position: absolute;
				left: -6px;
				top: 3px;
				width: 8px;
				height: 8px;
				border-radius: 8px;
				background: #fff;
				-webkit-animation: blink 0.7s infinite;
				-moz-animation: blink 0.7s infinite;
				-ms-animation: blink 0.7s infinite;
				-o-animation: blink 0.7s infinite;
				animation: blink 0.7s infinite; 	
			}
		}
	}
	&__line {
		width: 20%;
		position: relative;
		padding: 18px 0;
		@include font-pack($dinpro_black, 14px, false, 1, #fff);
		@include min-responsive(700px) {
			padding: 0 0 50px;
		}
		// &:after {
		// 	content: '';
		// 	position: absolute;
		// 	z-index: 1;
		// 	bottom: 0;
		// 	left: 49%;
		// 	width: 2px;
		// 	height: calc(100% - 20px);
		// 	background: #fff;
		// }
	}
	&__date {
		@include font-pack($dinpro_regular, 10px, false, 1, #fff);
		padding: 10px 0 5px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	&__name {
		padding: 0;
		//text-transform: uppercase;
		//height: 28px;
		height: 48px;
		margin: 0 0 10px;
		overflow: hidden;
		@include font-pack($dinpro_bold, 10px, false, false, #fff);
		@include min-responsive(360px) {
			font-size: 11px;
			height: 48px;
		}
	}
	&__score {
		display: block;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		padding: 10px 0;
		background: #e8e8e8;
		border-radius: 0 0 5px 5px;
		&__span2 {
			width: 43%;
		}
		&__span1 {
			width: 10%;
			.vs__name {
				margin: 0;
			}
		}
	}
	&__result {
		display: block;
		margin: 5px 0;
		span {
			border-radius: 100%;
			background: rgba($color_theme2,.8);
			padding: 7px 0;
			text-align: center;
			width: 40px;
			height: 40px;
			display: inline-block;
			overflow: hidden;
			@include font-pack($dinpro_bold, 25px, false, 1, #fff);
		}
	}
	&__cat {
		display: block;
		padding: 25px 0 15px;
		letter-spacing: 2px;
		text-transform: uppercase;
		@include font-pack($dinpro_medium, 8px, false, 1, #fff);
	}
	&__item.live {
		.vs__team {
			position: relative;
			background: darken($color_theme, 8%);
		}
	}

	// finals
	&__cup {
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		//overflow: hidden;
		top: -20px;
		&.type {
			padding: 5px;
			left: 0;
			background: #d5c3c3;
		}
		&.cup {
			right: 0;
			background: #7d1a26;
			border: 2px solid #bb2c39;
		}
	}
	&__finals {
		padding: 40px 0 0;
		.vs__result span,
		.vs__team {
			background: #7d0b25;
		}
		.vs__team {
			padding: 15px 2px;
		}
		.vs__name {
			color: #000;
			//height: 43px;
			margin: 0;
		}
		.vs__date {
			padding: 0 0 10px;
			width: 100%;
		}
		.winner {
			padding: 20px 0 0;
			.vs__logo {
				width: 90%;
			}
			.vs__team {
				padding: 15px 0;
			}
			.vs__name {
				color: #fff;
				margin: 5px 0;
				font-size: 12px;
				height: auto;
			}
			.vs__item:after {
				content: '';
				position: absolute;
				bottom: -30px;
				left: calc(50% - 2px);
				height: 30px;
				width: 0;
				border-right: 4px solid #7d0b25;
				z-index: -1;
			}
		}
		.final {
			margin: 0 -15px;
			.vs__score {
				padding: 5px 0 0;
			}
			.vs__item:before {
				content: '';
				position: absolute;
				bottom: -50px;
				left: calc(-30% - 2px);
				height: 200px;
				width: 100%;
				border-left: 4px solid #7d0b25;
				border-top: 4px solid #7d0b25;
				z-index: -1;
				border-radius: 5px;
			}
			.vs__item:after {
				content: '';
				position: absolute;
				bottom: -50px;
				right: calc(-30% - 2px);
				height: 200px;
				width: 100%;
				border-right: 4px solid #7d0b25;
				border-top: 4px solid #7d0b25;
				z-index: -1;
				border-radius: 5px;
			}
		}
		.semifinal {
			margin: 0 -15px;
			// .vs__score {
			// 	background: #f0f0f0;
			// }
		}
		.bronze {
			margin: 0 -15px;
			.vs__score {
				padding: 10px 0 0;
			}
			.vs__item:before {
				content: '';
				position: absolute;
				top: -140px;
				left: calc(-20%);
				height: 200px;
				width: 100%;
				border-left: 4px solid #7d0b25;
				border-bottom: 4px solid #7d0b25;
				z-index: -1;
				border-radius: 5px;
			}
			.vs__item:after {
				content: '';
				position: absolute;
				top: -140px;
				right: calc(-20%);
				height: 200px;
				width: 100%;
				border-right: 4px solid #7d0b25;
				border-bottom: 4px solid #7d0b25;
				z-index: -1;
				border-radius: 5px;
			}
		}
	}
}
