<footer class="footer">
	<div class="row footer__top container clearfix">
		<div class="col-offset-fluid clearfix">
			<div class="col-bs10-10">
				<div class="footer__logo">
					<a href="index.html">
						{{#eq network compare=true}}
						<img src="./asset/images/logo_pikiran_rakyat_white_network_pangandaran.png" alt="Pikiran Rakyat Pangandaran">
						{{else}}
						<img src="./asset/images/logo_pikiran_rakyat_white.png" alt="Pikiran Rakyat">
						{{/eq}}
					</a>
				</div>
			</div>
			<div class="col-bs10-4">
				<div class="footer__contact">
					<p>
						Jalan Asia Afrika No. 77 <br />
						Bandung 40111, <br />
						Telefon 022-4220770, 022-4201634; <br />
						Faksimili 022-4230632
					</p>
				</div>
				{{#eq network compare=true}}
				<div class="footer__network">
					<span>Member of</span>
					<div class="img">
						<img src="./asset/images/logo_pikiran_rakyat_white_network.png" alt="Pikiran Rakyat Network">
					</div>
				</div>
				{{/eq}}
			</div>
			<div class="col-bs10-6">
				<div class="col-offset-fluid clearfix">
					<div class="col-bs12-4">
						<div class="footer__menu">
							<div class="footer__item">
								<a href="#" class="footer__link">Bandung Raya</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Jawa Barat</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Persib</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Gelora</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Nasional</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Ekonomi</a>
							</div>
						</div>						
					</div>
					<div class="col-bs12-4">
						<div class="footer__menu">
							<div class="footer__item">
								<a href="#" class="footer__link">Pendidikan</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Teknologi</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Hidup Gaya</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Otokir</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">Belia</a>
							</div>
						</div>
					</div>
					<div class="col-bs12-4">
						<div class="footer__menu">
							<div class="footer__item">
								<a href="#" class="footer__link">PR Info</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">PR E-Paper</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">PR E-ReadersClub</a>
							</div>
							<div class="footer__item">
								<a href="#" class="footer__link">PR Event</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row footer__bottom container clearfix">
		<div class="col-offset-fluid clearfix">
			<div class="col-bs10-6">
				<div class="footer__menu inline clearfix">
					<div class="footer__item">
						<a href="#" class="footer__link">Tentang Kami</a>
					</div>
					<div class="footer__item">
						<a href="#" class="footer__link">Redaksi</a>
					</div>
					<div class="footer__item">
						<a href="#" class="footer__link">Pedoman Pemberitaan</a>
					</div>
					<div class="footer__item">
						<a href="#" class="footer__link">Info Iklan</a>
					</div>
					<div class="footer__item">
						<a href="#" class="footer__link">Kontak</a>
					</div>
				</div>
			</div>
			<div class="col-bs10-4">
				<div class="footer__copyright">
					<p>&copy; 1996 - 2019 Pikiran Rakyat</p>
				</div>
			</div>
		</div>
	</div>
</footer>
