<header class="header">
	<div class="header__top">
		<div class="row container clearfix">
		<div class="col-offset-fluid clearfix">
			<div class="col-bs10-7">
				<ul class="network__menu">
					<li><a href="#">Bandung</a></li>
					<li><a href="#">Ciamis</a></li>
					<li><a href="#">Bogor</a></li>
					<li><a href="#">Tasikmalaya</a></li>
					<li><a href="#">Cirebon</a></li>
					<li><a href="#">Karawang</a></li>
					<li><a href="#">Sukabumi</a></li>
					<li><a href="#">Kuningan</a></li>
				</ul>
			</div>
			<div class="col-bs10-3">
				<div class="social social--header clearfix">
					{{>social instagram=true twitter=true facebook=true rss=true}}
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="header__middle">
		<div class="row container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs12-8">
					<div class="logo">
						<a href="index.html">
							<img src="./asset/images/logo_pikiran_rakyat.png" alt="Pikiran Rakyat">
						</a>
					</div>
				</div>
				<div class="col-bs12-4">
					<form action="search.html" class="search__bar">
						<input type="text" placeholder="Cari" class="search__input">
						<input type="submit" name="submit" class="search__submit">
						<span class="icon icon-search"></span>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="row container clearfix">
			<div class="col-offset-fluid clearfix">
				<div class="col-bs10-10">
					{{>nav}}
				</div>
			</div>
		</div>
	</div>
</header>
