<div class="widget__mail">
	<div class="widget__mail__wrap">
		<h2 class="widget__mail__title">
			<a href="#">Benahi Sekitar Jalan Stasiun Citayam</a>
		</h2>
		<p>SAYA ingin berterima kasih kepada Surat Pembaca Pikiran Rakyat sebagai wadah untuk memberi saran dan berkeluh kesah masyarakat. Di sini, saya ingin menyampaikan keluhan saya kepada pihak terkait, sepe...</p>
	</div>
	<div class="widget__mail__footer">
		<a href="login.html">Tulis Surat</a>
	</div>
</div>
