<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- nav -->
	{{> nav}}
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container clearfix">
					
			<!-- ads top -->
			{{> ads_top}}

			<!-- headline -->
			<section class="hl clearfix">
				{{> headline channel=WP.Headline total=3 index_start=0 index_end=3}}
			</section>

			<!-- editors pick -->
			<section class="editors clearfix">
				<h3 class="title3"><span>Pilihan Editor</span></h3>
				<div class="editors__wrap js--editors">
					{{> editor_pick channel=WP.Latest total=6 index_start=10 index_end=16}}
				</div>
			</section>

			<!-- latest -->
			<section class="latest mt2 clearfix">
				<h3 class="title4"><span>Berita Terkini</span></h3>
				<div class="latest__wrap">
					{{> latest channel=WP.Latest total=10 index_start=0 index_end=10}}
				</div>
			</section>

			<!-- topik -->
			<section class="topic mt2 clearfix">
				<div class="row__bg" style="background-image: url('./asset/images/bg_topik.jpg')"></div>
				<h3 class="title2"><span><a href="topik-khusus.html">Topik Khusus</a></span></h3>
				<div class="topic__wrap js--topic">
					{{> belt_topic channel=WP.Sorotan total=4 index_start=1 index_end=5}}
				</div>
			</section>

			<!-- ads square -->
			<div class="ads mt2 clearfix">
				{{> ads_square}}
			</div>

			<!-- most -->
			<section class="most mt2 clearfix">
				<h3 class="title"><span>Terpopuler</span></h3>
				<div class="most__wrap">
					{{> most channel=Most total=5 index_start=0 index_end=5}}
				</div>
			</section>

			<!-- opinion -->
			<section class="opinion mt2 clearfix">
				<h3 class="title"><span><a href="opini.html">Kolom</a></span></h3>
				<div class="opinion__wrap">
					{{> opinion channel=WP.Opini total=3 index_start=0 index_end=3}}
				</div>
			</section>

			<!-- network -->
			<section class="network mt2 clearfix">
				<div class="row__bg" style="background-image: url('./asset/images/bg_network.jpg')"></div>
				<h3 class="title2"><span>Jawa Barat Network</span></h3>
				<div class="network__wrap js--network">
					{{> belt_network channel=WP.Sorotan total=8 index_start=0 index_end=8}}
				</div>
			</section>
			
			<!-- ads square -->
			<div class="ads mt2 clearfix">
				{{> ads_square}}
			</div>

			<!-- latest -->
			<section class="latest mt2 clearfix">
				<div class="latest__wrap">
					{{> latest channel=WP.Latest total=10 index_start=10 index_end=20}}
				</div>
			</section>
			
			<!-- pr tv -->
			<section class="videos mt2 clearfix">
				<div class="row__bg" style="background-image: url('./asset/images/bg_tv.jpg')"></div>
				<h3 class="title2"><span><a href="video.html">PR TV</a></span></h3>
				<div class="videos__wrap clearfix">
					{{> belt_tv channel=channel.images.video total=3 index_start=14 index_end=17}}
				</div>
			</section>
			
			<!-- ads square -->
			<div class="ads mt2 clearfix">
				{{> ads_square}}
			</div>

			<!-- latest -->
			<section class="latest mt2 clearfix">
				<div class="latest__wrap">
					{{> latest channel=WP.Latest total=10 index_start=20 index_end=30}}
				</div>
				
				<div class="latest__more clearfix">
					<a href="all.html" class="latest__button">Lihat Semua</a>
				</div>
			</section>
			
			<!-- pr images -->
			<section class="photos mt2 clearfix">
				<div class="row__bg" style="background-image: url('./asset/images/bg_images.jpg')"></div>
				<h3 class="title2"><span><a href="images.html">PR Images</a></span></h3>
				<div class="photos__wrap">
					{{> belt_images channel=channel.images.features total=3 index_start=0 index_end=3}}
				</div>
			</section>
			
			<!-- ads square -->
			<div class="ads mt2 clearfix">
				{{> ads_square}}
			</div>
			
			<!-- salat -->
			<section class="widget mt2 clearfix">
				<h3 class="title"><span>Jadwal Salat</span></h3>
				{{> widget_salat}}
			</section>
			
			<!-- valas -->
			<section class="widget mt2 clearfix">
				<h3 class="title"><span>Valas BCA</span></h3>
				{{> widget_valas}}
			</section>

			<!-- epaper -->
			<section class="widget mt2 clearfix">
				<h3 class="title"><span>Epaper</span></h3>
				{{> widget_epaper}}
			</section>
			
			<!-- mail -->
			<section class="widget mt2 clearfix">
				<h3 class="title"><span><a href="surat-pembaca.html">Surat Pembaca</a></span></h3>
				{{> widget_mail}}
			</section>

			<!-- radio -->
			<section class="widget mt2 clearfix">
				<h3 class="title"><span>Radio Streaming</span></h3>
				{{> widget_radio}}
			</section>

			<!-- ads bottom -->
			<div class="ads mt2 clearfix">
				{{> ads_skin}}
			</div>

		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	{{> js}}
	
</body>
</html>
