<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- nav -->
	{{> nav}}
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container clearfix">
				
			<!-- latest -->
			<section class="page clearfix">
				<h3 class="title"><span>Pencarian</span></h3>

				<div class="page__teaser">Hasil pencarian <strong>"Mahasiswa"</strong></div>

				<div class="latest__wrap">
					{{> latest channel=WP.Latest total=10 index_start=0 index_end=20}}
				</div>

				{{> paging}}
			</section>
					
			<!-- ads square -->
			<div class="ads mt2 clearfix">
				{{> ads_square}}
			</div>
					
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	{{> js}}
	
</body>
</html>
