<!DOCTYPE html>
<html lang="en">
	{{> head}}

<body>
	<!-- header -->
	{{> header}}
	
	<!-- nav -->
	{{> nav}}
	
	<!-- content -->
	<div class="row clearfix">
		<div class="container clearfix">
					
			<!-- ads top -->
			{{> ads_top}}

			<!-- latest -->
			<section class="page clearfix">
				<h3 class="title"><span>Surat Pembaca</span></h3>
				<div class="page__teaser">Untuk mengirimkan surat Anda, klik <a href="login.html">di sini</a></div>
				<div class="latest__wrap">
					{{> latest channel=WP.Latest total=10 index_start=0 index_end=20}}
				</div>

				{{> paging}}
			</section>

			<!-- ads square -->
			<div class="ads mt2 clearfix">
				{{> ads_square}}
			</div>
					
		</div>
	</div>
	
	<!-- footer -->
	{{> footer}}

	{{> js}}
	
</body>
</html>
